body{
    background-color: #E3F5E0;
}

img{
    display: -webkit-box;
    margin-left: 5%;
    margin-top: 2.5%;
    width: 45%;
    border-radius: 2.5%;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 800;
}

a:hover{
    color: #E3F5E0;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2.5%;
}

#resume{
    padding-left: 20%
}

#logo{
    font-weight: 1000;
    font-size: 1.5em;
}

#dwnld{
    margin-bottom: none;
}

#hello{
    font-weight: 750;
    font-size: 3em;
    color: #6EBD6D;
}

#text{
    margin-top: 5%;
    margin-left: 5%;
}

.pasge{
    font-size: 1.5em;
    color: #989E8B;
}


.flex-container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
}

.flex-item{
    margin-top: 1%;
}

.boxes{
    background-color: #6EBD6D;
    border: none;
    border-radius:100em 100em 100em 100em;
    color: white;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;

}

.box{
    background-color: white;
    border-radius:100em 100em 100em 100em;
    color: #6EBD6D;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;

}

.button-container{
    vertical-align: center;
    margin-top: 3rem;
    margin-left: 28%;
    cursor: pointer;
}
