<!DOCTYPE html>
<html>

    <head>
        <title> Landing Page </title>
        <link rel = 'stylesheet' href = '../static/CSS/styles.css'>
    </head>

    <body>

        <header class = 'flex-container'>
            <!-- <span class = 'flex-item' id= 'logo'>LOGO</span>
            <span class = 'flex-item' id = 'resume'>Resume</span>
            <span class = 'flex-item'>Contact</span>
            <button class = 'boxes' id = 'dwnld'>Download CV</button> -->
        </header>

        <div class = 'flex-container'>
            <div id = 'text'>
                <p class = 'pasge'>
                <span id = 'hello'>Insight Face</span>
                <br/>Insight Face is an open source tool   
                <br/> used for 2D & 3D deep face analysis. 
                <br/> It was built by Deep Insight on the  
                <br/> resnet convolutional neural network.
                <br/> Insight face is available as a python 
                <br/> library and can be installed using pip. 
                 </p>
                <div class = 'button-container'>
                    <button class = 'boxes'><a href = "{{ url_for('dashboard') }}">Get Started</a></button>
                    <!-- <button class = 'box'>Contact</button> -->
                </div>
            </div>
            <img src = '../static/Images%20and%20Icons/Icons/face_recognition.jpg' alt = ''> 
        </div>

        <footer class = 'pasge'>
            <!-- <p>Interested in working together?</p>
            <p>Let's get in touch!</p> -->
        </footer>

    </body>

</html>