img{
    display: -webkit-box;
    margin-left: 5%;
    margin-top: 2.5%;
    width: 50%;
    max-height: 20%;
    border-radius: 2.5%;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2.5%;
}

#resume{
    padding-left: 20%
}

#logo{
    font-weight: 1000;
    font-size: 1.5em;
}

#dwnld{
    margin-down: none;
}

#hello{
    font-weight: 750;
    font-size: 5em;
    color: black;
}

#text{
    margin-top: 10%;
    margin-left: 5%;
}

.pasge{
    font-size: 1.5em;
    color: grey;
}


.flex-container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
}

.flex-item{
    margin-top: 1%;
}

.boxes{
    background-color: black;
    border: none;
    border-radius:100em 100em 100em 100em;
    color: white;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;

}

.box{
    background-color: white;
    border-radius:100em 100em 100em 100em;
    color: black;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;

}
